.sidebar{
  position: fixed;
  top: 60px;
  left: -250px;
  width: 250px;
  height: 100%;
  max-width: 250px;
  z-index: 1;
  background-color: #333;
  padding: 10px;
  overflow: hidden;
  transition: all 300ms linear;

  .sidebar-open &{
    left: 0;
    transform: translateX(0);
  }
}
