.music-box{
  padding: 5px 5px 20px;
  float: left;

  @include viewport(lg) {
    width: 20%;
  }

  @include viewport(md) {
    width: 25%;
  }

  @include viewport(sm) {
    width: 33.33%;
  }

  @include viewport(xs) {
    width: 50%;
  }

  figure{
    margin: 0;
  }

  img{
    width: 100%;
  }

  .thumbnail{
    position: relative;
    border: 1px solid $light-gray;

    img{
      display: block;
    }

    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background 200ms linear;
    }

    .controls{
      position: absolute;
      width: 100%;
      height: 48px;
      bottom: 20%;
      text-align: center;
      opacity: 0;
      transition: opacity 200ms linear;

      .control{
        display: inline-block;
        padding: 10px;
        border: 1px solid white;
        border-radius: 50%;
        color: white;
        cursor: pointer;

        &:hover{
          background-color: rgba(255,255,255,.45);
        }
      }

      .play-button{
        font-size: 1.6em;
      }
    }

    &:hover{
      .overlay {
        background-color: rgba(0,0,0,.6);
      }

      .controls {
        opacity: 1;
      }
    }
  }

  .metadata{
    .music{
      font-weight: bold;
    }

    .artist{
      color: #999;
      font-size: .8em;
    }
  }
}
