<div class="music-box" ng-repeat="song in vm.songs">
  <figure class="thumbnail">
    <a href="#" class="song-link">
      <img src="http://lorempixel.com/300/300" alt="">
      <span class="overlay"></span>
    </a>
    <div class="controls">
      <span class="control favorite">
        <i class="fa fa-heart"></i>
      </span>
      <span class="control play-button">
        <i class="fa fa-play"></i>
      </span>
      <span class="control share">
        <i class="fa fa-share"></i>
      </span>
    </div>
  </figure>
  <div class="metadata">
    <div class="music">Song {{$index}}</div>
    <div class="artist">by Artist</div>
  </div>
</div>
