<div class="music-box" ng-repeat="song in vm.songs">
  <figure class="thumbnail">
    <a href="#" class="song-link">
      <img ng-src="{{song.coverArt}}" alt="">
      <span class="overlay"></span>
    </a>
    <div class="controls">
      <span class="control favorite">
        <i class="fa fa-heart"></i>
      </span>
      <span class="control play-button">
        <i class="fa fa-play"></i>
      </span>
      <span class="control share">
        <i class="fa fa-share"></i>
      </span>
    </div>
  </figure>
  <div class="metadata">
    <div class="music">{{song.name}}</div>
    <div class="artist">by {{song.artist}}</div>
  </div>
</div>
