<div class="player is-playing">
  <div class="player-container">

    <div class="track-info">
      <picture class="thumbnail">
        <img src="https://upload.wikimedia.org/wikipedia/pt/5/52/Lindsey_Stirling_-_Lindsey_Stirling.jpg" alt="">
      </picture>
      <div class="metadata">
        <p class="title"><strong>Crystallize</strong></p>
        <p class="artist">by Lindsey Stirling</p>
        <p class="timer"><span class="now">0:57</span> / 4:47</p>
      </div>
    </div>

    <div class="controls">
      <span class="control prev-btn">
        <i class="fa fa-backward"></i>
      </span>
      <span class="control play-btn">
        <i class="fa fa-play"></i>
      </span>
      <span class="control next-btn">
        <i class="fa fa-forward"></i>
      </span>
    </div>

    <div class="seek-control">
      <div class="progress-bar">
        <div class="progress-percent"></div>
        <div class="buffer"></div>
      </div>
    </div>
  </div>
</div>
